/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-peppermint);

  /*Stock Buttons */
  --inStock : #156a00;
  --outOfStock: #d5091a;
}

/* 
Header 
*/

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #224556;
  padding: 20px 40px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  font-size: 1.5em;
  transition: 0.3s ease;
}

#navbar li:hover,
#navbar li a:active {
  color: rgb(18, 171, 209);
}

#search{
  display: flex;
  align-items: center;
  border-radius: 50px;
  height: 35px;
  width: 400px;
}

#icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icons li{
  list-style: none;
  padding: 0 20px;
}

/*
subheader
*/

#subhead {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px solid #707070;
  /*box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);*/
 
}

#genres {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding: 0 20px;
  
}

#genres li{
  list-style: none;
  padding: 5px 20px;
  font-size: 1.4em;
  justify-content: space-between;
  
}

/*
Footer
*/

.footerContent {
  background-color: #F2F2F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 67px 200px;
}

.topFooter
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.copyright 
{
  display: flex;
}

#store
{
  width: 100%;
  height: 80rem;
  /*background-color: red;*/
  flex-direction: column;
}

.topCards
{
  display: flex;
  width: 100%;
  height: 50%;
  padding: 2rem;
  /*background-color: green*/
  flex-direction: row;
  justify-content: space-between;
}

.card
{
  height: 100%;
  width: 30%;
  background-color: white;
  border-radius: 3rem;
  outline: solid;
  /*filter: drop-shadow(-2rem, 2rem, 2rem);*/ 
}

.image
{
  width: 100%;
  height: 55%;
  background-color: rgb(86, 86, 131);
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.info
{
  width: 100%;
  height: 45%;
  background-color: #F2F2F6;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;

}

.topInfo
{
  width: 100%;
  height: 25%;
  /*background-color: yellow;*/
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.bookTitle
{
  display: flex;
  flex-grow: 1;
}

.inStock
{
  display: flex;
  background-color: var(--inStock);
  justify-content: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  height: 0.3rem;
  width: 7rem;
  color: white;
  margin: auto;
}

.bookTitle
{
  color: black;
  font-size: x-large;
}


.outOfStock 
{
  display: flex;
  background-color: var(--outOfStock);
  justify-content: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  height: 0.3rem;
  width: 8.5rem;
  color: white;
}

.stars
{
  display: flex;
  /*background-color: purple;*/
  width: 100%;
  height: 20%;
  padding: 1rem;
}

.starImage
{
  height: 3rem;
  width: 12rem;
}

.Price
{
  display: flex;
  /*background-color: aqua;*/
  width: 100%;
  height: 55%;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  flex-direction: row;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  gap: 10rem;
}

.addToCart
{
  display: flex;
  height: 3rem;
  width: 12rem;
  border: 0;
  text-align: center;
  color: white;
  background-color: #224556;
  border-radius: 5rem;
  cursor: pointer;
  font-size: large;
  /*text-align: center;*/
  transition: all 0.3s ease;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.7rem;
}

.addToCart:hover
{
  background-color: #2c5a71;
  transform: scale(1.1);
}

.addToCart:active
{
  transform: scale(0.99);
  background-color: #1a3542;
}

.Cost
{
  font-size: x-large;
  color: black;
   
}

.bottomCards
{
  display: flex;
  width: 100%;
  height: 50%;
  padding: 2rem;
  /*background-color: lightcoral;*/
  flex-direction: row;
  justify-content: space-between;
}

/*
  PAGE / BODY
*/
body 
{
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
  background-color: white;
}
/*
main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
*/
/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
